body{
     background-color: gray; 
    
    font-family: 'Raleway', sans-serif;
}

h1, .navbar-brand, .btn-lg{
    font-family: 'Corben', cursive;
}


nav,  .btn{
    background-color: #28467a;
}




main{
    background-color: #93b9de;
}

#home, #Donate{
    background-color:#efefef;
    background-image: url(./dust_scratches.png);
}

.navbar-brand{
     padding-top: 3px;
     padding-bottom: 8px;
}

.navbar-nav{
    font-family: 'Raleway', sans-serif;
}

#main-video{
    box-shadow: 12px black;
}